.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .box .content{
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.0);
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    transform: 0.5s;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
}

.container .box:hover .content{
    left: -25px;
}

.container .box .content .flipBox{
    height: 100%;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.container .box .content .flipBox div{
    position: absolute;
    left: -70px;
    bottom: -30px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.rotate{
    transform: rotateY(180deg);
}

.container .box .content .text{
    position: absolute;
    bottom: -40px;
    left: 30px;
}

.container .box .content .text span,
.container .box .content .text p{
    font-size: 1rem;
    opacity: 0.5;
    font-weight: 400;
}

.container .box .content .question{
    margin-top: 3rem;
    margin-left: 3rem;
}

@media screen and (max-width: 550px) {
    .container{
        margin-top: 20px;
    }

    .container .box .content .text{
        bottom: -35px;
        left: 20px;
    }

    .container .box .content .text p{
        font-size: 0.9rem;
    }

    .container .box .content .question{
        margin-top: 2rem;
        margin-left: 2.5rem;
    }

    .container .box:hover .content{
        left: -5px;
    }

    .container .box .content .flipBox div{
        left: -50px;
        bottom: -15px;
    }

    .container .box .content .flipBox div img{
        max-width: 375px;
        height: auto;
    }
}