*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes animate {
  0%, 100%{
      transform: translateY(10px);
  }
  50%{
      transform: translateY(-10px);
  }
}