.container{
    position: relative;
}

.search{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    overflow: hidden;
    z-index: 100;
}

.search .icon{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-size: 1.5rem;
}

.search.active{
    width: 360px;
    box-shadow: none;
}

.outline{
    position: absolute;
    inset: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    z-index: 0;
}

.outline.active{
    width: 360px;
}

.outline.active::before,
.outline.active::after{
    content: "";
    position: absolute;
    inset: -0.25rem;
    border-radius: inherit;
    background: conic-gradient(
        from var(--gradient-angle),
        #e42020,
        #e42020,
        #2196f3,
        #1359da,
        #2196f3,
        #e42020,
        #e42020
    );
    animation: rotation 4s linear infinite;
}

.outline::after{
    filter: blur(3.5rem);
}

@keyframes rotation {
    0% {--gradient-angle: 0deg;}
    100% {--gradient-angle: 360deg;}
}

.search .input{

    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
}

.send{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send img{
    width: 45px;
    height: auto;
}