.search{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    overflow: hidden;
}


.search .icon{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-size: 1.5rem;
}

.search.active{
    width: 360px;
}

.search .input{

    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
}

.clear{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.5);
}